body { font-family: Arial, sans-serif; background-color: #f9f9f9; }
.container { max-width: 600px; margin: 0 auto; padding: 20px; background-color: #fff; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
h1, h2 { text-align: center; }
form { margin: 20px 0; }


ul { list-style-type: none; padding: 0; }
li { margin: 10px 0; padding: 10px; background-color: #f1f1f1; border-radius: 5px; }

        .error { color: rgb(0, 174, 255); text-align: center; }
